    <!-- Modal Incluir -->
    <div class="modal fade" id="modalExcluirPaciente" tabindex="-1" role="dialog" aria-labelledby="modalExcluirPacienteLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header alert alert-danger">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title warning" id="modalExcluirPacienteLabel">Exclusão de Consulta</h4>
          </div>
          <div class="modal-body">
            <p>Confirma exclusão de consulta para o paciente <span class="pacienteNome"></span> no dia <span class="diaConsulta"></span> às <span class="horaConsulta"></span>?</p>
          </div>
          <div class="modal-footer clear">        
          <button type="button" data-dismiss="modal" class="btn btn-default" >Fechar</button>
          <button type="button" data-dismiss="modal" class="btn btn-default btn-cinza btn-conf-exclusao">Excluir Definitivamente</button>
          </div>
        </div>
      </div>      
    </div>