<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Gestão de Clínica Médica</title>
    <meta charset="utf-8"/>
    <meta name="description" content="Sistema de Gestão de Clínica Médica">
    <meta name="keywords" content="Marcação de Consulta, Atendimento Médico, Cadastro de Medicamentos">
    <meta name="author" content="Renato Alberto da Silva">
    
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/public/styles.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="/public/scripts.js"></script>
    
  </head>
  <body>