<%- include('cabecalho') %>
<%- include('menu') %>

<div id="caixaAlerta">
<% if (mensagem) { %>
  <% if (mensagem.tipo == 1) { %>
    <div class="alert alert-info alert-dismissible" role="alert">
  <% } %>
  <% if (mensagem.tipo == 2) { %>
    <div class="alert alert-success alert-dismissible" role="alert">
  <% } %>
  <% if (mensagem.tipo == 3) { %>
    <div class="alert alert-warning alert-dismissible" role="alert">
  <% } %>
  <% if (mensagem.tipo == 4) { %>
    <div class="alert alert-danger alert-dismissible" role="alert">
  <% } %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong><%= mensagem.erro %></strong> <%= mensagem.texto %>
  </div>
<% } %>  
</div>

<div id="login">
  <h1>Login</h1>

  <form class="form-horizontal" method="post" action="/login">
    <div class="form-group">
      <label for="usuario" class="control-label col-sm-2">Email</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="email" name="email" placeholder="Email do usuário">
      </div>
    </div>
    <div class="form-group">
      <label for="senha" class="control-label col-sm-2">Senha</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="senha" name="senha" placeholder="Senha">
      </div>
    </div>
    <div class="form-group">

      <div class="col-sm-10 col-sm-offset-2">
        <button type="submit" class="btn btn-primary">Entrar</button>
      </div>
    </div>
  </form>
</div>

<div class="rodapePrincipal">
  <footer>
    <p><small>&copy; - Renato Alberto da Silva - 2019</small></p>
  </footer>
</div>

<script>
  $(document).ready(function(e){
  // (Botão Novo Atendimento) --------------------------------------------------------
    $('button[type="submit"]').click(function(e){
      var invalido = false;

      if ($('#email').val() == '') {
        $('#email').attr('data-erro', true);
        setTimeout(function(){ $('#email').removeAttr('data-erro'); }, 4000);
        invalido = true;
      };

      if ($('#senha').val() == '') {
        $('#senha').attr('data-erro', true);
        setTimeout(function(){ $('#senha').removeAttr('data-erro'); }, 4000);
        invalido = true;
      };

      if (invalido) {        
        e.preventDefault();

        $('#caixaAlerta').empty();

        $('#caixaAlerta').append('<div class="alert alert-danger alert-dismissible" role="alert">');
        $('#caixaAlerta .alert').append('<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>');
        $('#caixaAlerta .alert').append('<strong>Atenção! </strong>Informe todos os campos obrigatórios.');      
    
        $('#caixaAlerta .alert').delay( 4000 ).slideUp( 400 );
      };
      
    })
  })
</script>