<%- include('cabecalho') %>
<%- include('menu') %>

<div class="jumbotron">
  <div class="container">
    <div class="col-xs-3">
      <img class="desenho-doutora img-responsive" src="public/doutora.png" alt="Desenho doutora">
    </div>
    <div class="col-xs-9">
      <h1>Bem vindo!</h1>
      <p>Sistema de gestão da clinica!</p>
    </div>
  </div>
</div>


<div class="rodapePrincipal">
  <footer>
    <p><small>&copy; - Renato Alberto da Silva - 2019</small></p>
  </footer>
</div>


  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</body>
</html>