/* 
  Algumas cores já utilizadas
  verde-pastel - add9bd
*/

body {
  background-color: #fafafa;
  padding-top: 70px; 
}

.desenho-doutora{
  position: absolute;
  top: -20px;
}

.container {  
  background-color: gainsboro;
}

.jumbotron {
  background-image: linear-gradient(to right, #66b9bf , gainsboro);
}

#login {
  width: 60%;
  padding: 20px;
  margin: 10px auto;
  background-color: #66b9bf;
  border-radius: 5px 50px;
  box-shadow: 15px 15px 35px black;
}

#login label {
  font-size: 1.3em;
}

.jumbotron .container {
  background-color:  rgba(0, 0, 0, 0);
}

.table{
  background-color: #99ced4;
}

.navbar-brand > a {
  text-decoration: none;
}

.panel-group {
  background-color: gainsboro;
  padding: 5px 3px;
  border: 1px solid lightgray;
}

.margem-superior {
  margin-top: 5px;
}

.largura-total{
  width: 100%;
}

h1{
  margin-bottom: 1em;
}

.rodape {
  display: block;
  width: 190px;  
  margin: 2em auto 2em;
  clear: both;
}

.rodapePrincipal {
  display: block;
  width: 190px;  
  margin: 2em auto 2em;
  position: relative;
  bottom: -200px;
}

.navbar{
  margin-bottom: 0px;
  border-bottom: 1px solid lightgray;
}

.menu-admin {
  box-shadow: 1px 1px 5px black;
}

th > .col-sm-2 {
  padding-left: 0;
}

.botoes-direita {
  float: right !important;
}

.botoes-direita > button {
  margin-left: 2px;
}

#colBotoes {
  min-width: 110px;
}

.desgruda {
  position: relative;
  bottom: 5px;
}

.btn-link {
  text-decoration: none !important;
}

fieldset {
  box-shadow: 1px 1px 7px gray, -1px -1px 1px lightgray;
}

.fieldset-externo{
  margin-top: 20px;
  padding: 20px;
  background-color: #66b9bf;
}

.fieldset-interno{
  margin-bottom: 40px;
  padding: 5px;
  background-color: whitesmoke;
}

.caixa-protuario {
  min-height: 250px;
}

fieldset fieldset legend{
  margin-bottom: 0;
}

.fieldset-interno .table {
  background-color: whitesmoke;
}

.altura-cabecalho {
  height: 60px;
}

.margem-inferior {
  margin-bottom: 5px;
}

#atual {
  pointer-events: none;
  cursor: default;
  opacity: 0.8;
}

#caixaAlerta, .caixaAlerta {
  height: 100px;
}

.btn-cinza {
  background-color: lightgrey;
}

.cinza {
  background-color: lightgrey;
}

.alerta {
  color: red;
}

.clear {
  clear: both;
  margin-top: 2em;
}

.form-control[data-erro] {
  border-color: #d9534f;
  box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px #d9534f;
  z-index: 3;
}

.lstMedicamento {
  background-color: lightcyan;
  display: block;
  margin-bottom: 5px;
}

.btn-ctrl-tamanho{
  width: 13.9%;  
  min-width: 130px;
}

.btn-default[data-ativo=true]{
  background-image: linear-gradient(#66b9bf, #99ced4, lightcyan);
}

.badge {
  width: 50px;
}

.container-textarea{
  padding: 0 15px;  
  position: relative;
  top: -15px;
  margin: 15px 0;
}